@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainHeader {
    @apply inline-block min-w-full px-1 md:text-[65px] sm:text-[40px] max-sm:text-[30px] font-[600];
  }
  .miniHeader {
    @apply inline-block min-w-full px-1 md:text-[40px] sm:text-[25px] max-sm:text-[25px] font-[400];
  }
  .descriptionText {
    @apply flex gap-3 px-3 mt-3 lg:text-xl py-2 font-inter-tight tracking-wide md:text-lg max-sm:text-medium;
  }
  .subHeader {
    @apply font-inter-tight miniHeader text-xl font-bold tracking-wide;
  }
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
